body{
    background-color: #142850;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, 
}

.header_section{
    display: flex;
    align-items: center;
    padding-left :289px;

    img{
        width: 100px;
        border-radius: 20px;
    }

    a{
        text-decoration: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #fff;
        margin-left: 100px;
        cursor: pointer;
        
    }
    a:hover{
        color: rgba(98, 98, 255, 0.533);
    }
    

}

.site_slogan{
    h1{
        color: #fff;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-left: 180px;
        margin-top: 250px;  
    }


    img{
        width: auto;
        margin-top: -350px;
        margin-left: 150px;
        
    }
}

.companiy_history{
    h1{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-top: 300px;
        margin-left: 350px;
        color: #fff;
    }

    p{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-left: 350px;
        color: #fff;
        
    }

    img{
        margin-left: 810px;
        margin-top: -228px;
        border-radius: 24px;
    }
}

.work_of_company{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    margin-top: 200px;
}

.card_work{
    display: flex;
    margin-left: 150px;
    margin-top: 100px;
    .card_1{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        color: #fff;
        width: 300px;

    }

    .card_2{
        margin-left:150px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        color: #fff;
        width: 300px;

    }

    .card_3{
        margin-left: 150px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        color: #fff;
    }


}

.contact{

}

